{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href=" {% static '/css/home.css' %} " rel="stylesheet" type="text/css"/>
        <title>FLAIR</title>
    </head>
    <body>
        <div class="main">
            <div class="title">
                <h1>FLAIR</h1>
                <h4>Filipino Language AI Readability Tool</h4>
            </div>

            <div class="main-containers">
                <div class="left-container">
                    <h2>Assess the readability of your texts</h2>
                    <p>Enter your text or upload your text file below to calculate its readability level. Minimum input must be one (1) paragraph.</p>
                    <form id="flair-form" method="post" action="{% url 'home:calculate_readability' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <textarea id="text-input" name="text-input" placeholder="Input your text here...">{{ text_input }}</textarea>
                        <p>OR</p>
                        <div class="file-upload">
                            <input type="file" id="file-input" name="file-input" accept=".doc, .docx, .txt">
                        </div>
                        <br><p>Input a word to discover associated words:</p>
                        <textarea id="embed-input" name="embed-input" placeholder="Input your text here...">{{ embed_input }}</textarea>
                        <div class="bottom-container">
                            <input type="submit" value="CALCULATE READABILITY" id="submit">
                            <div class="results-container">
                                <h3>READABILITY RESULTS:</h3>
                                <p><b>Recommended Age Range: </b> <span class="age-range"></span>{{min_prediction}}-{{max_prediction}}</p>
                                <div class="tabs">
                                    <input type="radio" class="tab-button" id="basic-features" name="text-features" value="0" onclick="showResults()" checked><label class="label" for="basic-features">Basic Text Features</label>
                                    <input type="radio" class="tab-button" id="advanced-features" name="text-features" value="1" onclick="showResults()"><label class="label" for="advanced-features">Advanced Text Features</label>
                                </div>
                                <div class="results" id="basic-results">
                                    <ul>
                                        <li>Word Count: <span id="word-count"></span>{{word_count}}</li>
                                        <li>Sentence Count: <span id="sent-count"></span>{{sentence_count}}</li>
                                        <li>Average Word Length: <span id="ave-word"></span>{{ave_word}}</li>
                                        <li>Average Sentence Length: <span id="ave-sent"></span>{{ave_sent}}</li>
                                        <li>Total Number of Syllables: <span id="total-syll"></span>{{total_syll}}</li>
                                    </ul>
                                </div>
                                <div class="results" id="advanced-results">
                                    <ul>
                                        <li> Word Frequencies:
                                        {% if wordcloud_exists %}
                                            <li> <img src="{% static 'wordcloud.png' %}" alt="Word Cloud" id="word-freq" width="400px">
                                        {% endif %}
                                        <li>Related Words from Word Embeddings:
                                            <li><span id="word-em"></span>{{embeddings}}
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="right-container">
                    <h3>What is FLAIR?</h3>
                    <p>FLAIR is an AI Tool that uses machine learning to assess the readability level of Filipino texts, particularly for Filipino children’s literature. </p>
                </div>
            </div>
        </div>

        <script>
            function showResults() {
                var value = document.querySelector('input[name="text-features"]:checked').value;
                if (value === "0") {
                    document.getElementById("basic-results").style.display = 'block';
                    document.getElementById("advanced-results").style.display = 'none';
                } else if (value === "1") {
                    document.getElementById("basic-results").style.display = "none";
                    document.getElementById("advanced-results").style.display = 'block';
                }
            }  

            function submitForm() {
                var form = document.getElementById("flair-form");
                var formData = new FormData(form);
                var xhr = new XMLHttpRequest();
                
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status === 200) {
                            document.getElementById("results-container").innerHTML = xhr.responseText;
                        } else {
                            console.error('Request failed:', xhr.status);
                        }
                    }
                };
                
                xhr.open("POST", form.action);
                xhr.send(formData);
            }
        </script>
    </body>
</html>